<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
    <display-name>Hello Servlet</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!--
    	<security-constraint>
		<display-name>securityconstraint</display-name>
		<web-resource-collection>
			<web-resource-name>websesource</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>AuthConstraint</description>
			<role-name>Manager</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
    <login-config>
      <auth-method>CLIENT-CERT</auth-method>
    </login-config>
    <security-role>
      <description>MyRole</description>
      <role-name>Manager</role-name>
    </security-role>
   -->
</web-app>
